<?xml version="1.0"?>
<launch>
  <!-- Load world: Figure 5 state space (Cartesian coordinates) -->
  <arg name="world_name" default="$(find traveling_ethiopia_robot)/worlds/traveling_ethiopia.world"/>
  <arg name="paused" default="false"/>
  <arg name="use_sim_time" default="true"/>
  <arg name="gui" default="true"/>
  <arg name="headless" default="false"/>
  <arg name="debug" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="use_sim_time" value="$(arg use_sim_time)"/>
    <arg name="gui" value="$(arg gui)"/>
    <arg name="headless" value="$(arg headless)"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <!-- Spawn three-wheel robot at Addis Ababa (origin) -->
  <arg name="urdf_file" default="$(find traveling_ethiopia_robot)/urdf/three_wheel_robot.urdf"/>
  <param name="robot_description" textfile="$(arg urdf_file)"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-urdf -model three_wheel_robot -param robot_description -x 0 -y 0 -z 0.25"
        output="screen"/>
</launch>
